@font-face {
    font-family: 'interregular';
    src: url('/font/inter-variablefont_slntwght-webfont.woff2') format('woff2'),
         url('/font/inter-variablefont_slntwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 100px;
    width: 100%;
    height: 100%;
    top: 0;
    font-family: 'Inter', sans-serif;
    align-items: center;
    margin: 0;
    position: fixed;
}

.bodypadding {
    padding-bottom: 50px;
    position: static;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

#video {
    aspect-ratio: 1/1;
    position:fixed;
    top:0;
    z-index: -2;
    left: 0;
}
